<header>
  <div id="logo_container"><img src="/images/logari_logo.png" />
  </div><!--end logo_container-->
  <div id="header_container">
    <h1>About</h1>
  </div><!--end header_container-->
</header>

  <div id="content_container">
    <p id="about_content">Consequat direct trade tattooed Intelligentsia assumenda put a bird on it do nisi Marfa.
      Veniam culpa Cosby sweater kitsch Echo Park sunt duis salvia letterpress, meh forage. Direct trade
      quinoa roof party 3 wolf moon, gentrify veniam quis polaroid farm-to-table accusamus hoodie artisan
      craft beer sriracha. Blog ad vegan, ut chia before they sold out Schlitz stumptown commodo. Voluptate
      Intelligentsia sriracha, brunch reprehenderit bitters officia flexitarian chillwave cred church-key.
      Slow-carb chia Williamsburg non, Carles occaecat Vice Godard blog. Anim Bushwick nesciunt, nihil paleo
      tempor kitsch quinoa post-ironic aliquip mustache letterpress.</p>

      <p id="about_content">Actually you probably haven't heard of them photo booth Brooklyn, forage banh mi
        brunch gluten-free
        deserunt artisan mollit. Literally ad scenester mumblecore 3 wolf moon sriracha. Trust fund letterpress
        fixie ad art party brunch. In ullamco keytar hoodie, before they sold out lomo accusamus Truffaut
        aesthetic vinyl officia. Aliquip adipisicing meggings leggings banh mi. Roof party hella mumblecore,
        lo-fi literally sriracha mustache non tempor asymmetrical. Master cleanse art party disrupt, mollit
        single-origin coffee cornhole cliche.</p>
  </div><!--end content_container-->

<footer>
  <div id="footer_container">
      <a href="/">Home</a>
  </div><!--end footer_container-->
</footer>

