<header>
  <div id="logo_container"><img src="/images/logari_logo.png" />
  </div><!--end logo_container-->
  <div id="header_container">
<% if logged_in %>
  <h1>Welcome, <%= user_data[:email] %>.</h1>
<% else %>
  <h1>You are not logged in.</h1>
<% end %>
  </div><!-- end header_container-->
</header>

<footer>
  <div id="footer_container">
  <% if logged_in %>
    <a href="/logout">Logout</a>
      <% if admin %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/users">View all users</a>
      <% end %>
  <% else %>
    <a href="/login">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/register">Register</a>
  <% end %>
  <div class="about_us"><a href="/about">About</a></div>
  </div><!--end footer_container-->
</footer>

