<% if logged_in %>
  <h1>Welcome, <%= user_data[:email] %>.</h1>
<% else %>
  <h1>You are not logged in.</h1>
<% end %>

<p>
  <% if logged_in %>
    <a href="/logout">Logout</a>
      <% if admin %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/users">View all users</a>
      <% end %>
  <% else %>
    <a href="/login">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/register">Register</a>
  <% end %>
</p>

