<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/application.css" rel="stylesheet" type="text/css">
</head>
<body>
  <%= yield %>
</body>
</html>