<header>
  <div id="logo_container"><img src="/images/logari_logo.png" />
    </div><!--end logo_container-->
  <div id="header_container">
    <h1>Login</h1>
  </div><!--end header_container-->
</header>

<div id="content_container">
<% if error == true %>
  <p class="form_error">Email / password is invalid</p>
<% end %>
<div id="form_container">
  <form action="/login" method="post">
    <div class="form_field">
      <label>Email</label><input type="text" name="email_address">
    </div>
    <div class="form_field">
      <label>Password</label><input type="password" name="password">
    </div>
    <div>
      <button type="submit" class="form_button">Login</button>
    </div>
  </form>
</div><!--end form_container-->
</div><!--end content_container-->