<h1 id="reg">Register</h1>
<div id="form">
  <form action="/" method="post">
    <div id="email">
      <label>Email</label><input class="form-field" type="text" name="email_address">
    </div>
    <div id="password">
      <label>Password</label><input class="form-field" type="password" name="password">
    </div>
    <div id="register">
      <button type="submit">Register</button>
    </div>
  </form>
</div>