<nav>
  <div id="nav_container">
<div id="user_home"><a href='/'>Home</a></div>
<div id="user_logout">welcome, <%= user_data[:email] %> | <a href="/logout">logout</a></div>
  </div><!--end nav_container-->

<header>
  <div id="header_container">
<h1>Users</h1>
  </div><!-- end header_container-->
</header>
<div id="content_container">
<table id="table_style">
  <tr>
    <td id="left_column_style">ID</td>
    <td id="right_column_style">Email</td>
  </tr>
  <% users.each do |row| %>
    <tr>
      <td id="left_column_style"><%= row[:id] %></td>
      <td id="right_column_style"><%= row[:email] %></td>
    </tr>
  <% end %>
</table>
</div><!--end content_container-->