body {
    background-color: #96BDAF;
    color: #748277;
}

body h1 {
    color: #D14B2D;
}

body a {
    color: #827A67;
}

header {
    background-color: #414D4A;
    font-family: 'Oswald', sans-serif;
}

#header_container,
#nav_container,
#content_container,
#footer_container,
#logo_container {
    margin: auto;
    width: 980px;
}

#logo_container {
    padding-top: 1em;
}

/*begin form style*/

#form_container {
    padding-top: 1em;
}

.form_field {
    width: 100%;
    display: inline-block;
    margin-bottom: 2%;
}

.form_error {
    color: #D14B2D;
    padding-left: 80px;
}

.form_button {
    margin-left: 80px;
    box-sizing: border-box;
    font: .8em sans-serif;
    border: 2px solid gold;
    border-radius: 0;
}

form label {
    display: inline-block;
    width: 80px;
    color: #748277;
}

form input {
    border: 1px solid #748277;
}

#about_content {
    width: 480px;
}

#left_column_style {
    border-right: 2px solid black;
    padding: 5px;
}

#right_column_style {
    padding: 5px;
}

#table_style {
    border: 2px solid black;
}

tr:nth-child(1) {
    background-color: darkgray;
}


tr:nth-child(even) {
    background-color: #eeeeee;
}

/*link styling*/

#user_logout {
    display: inline-block;
    width: 90%;
    text-align: right;
}

#user_home {
    display: inline-block;
}

.about_us {
    display: inline-block;
    float: right;
}