body {
    background-color: white;
}

#layout {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 3%;
}

#email {
    width: 100%;
    display: inline-block;
    margin-bottom: 2%;
}

#password {
    width: 100%;
    display: inline-block;
    margin-bottom: 2%;
}

.form-field {
    object-align: right;
}

label {
    display: inline-block;
    width: 80px;
}

#register {
    padding-left: 80px;
}

#reg {
    padding-left: 80px;
}

.error {
    color: red;
    padding-left: 80px;
}

#left_column_style {
    border-right: 2px solid black;
    padding: 5px;
}

#right_column_style {
    padding: 5px;
}

#table_style {
    border: 2px solid black;
}

tr:nth-child(1) {
    background-color: darkgray;
}


tr:nth-child(even) {
    background-color: #eeeeee;
}

#user_logout {
    display: inline-block;
    width: 90%;
    text-align: right;
}

#user_home {
    display: inline-block;
}